body {
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 192);
;
}

h2 {
    color: #333;
    position: relative;
    text-decoration: dotted;
    text-align: center;
}


.container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0; 
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


p {
	
    margin: 5px;
}


.genre {
    
    color: rgb(128, 64, 64); /* 鲜艳的颜色，这里是红色 */
}

.thank{
	text-align: center;
}

.download{
	text-align: center;
	padding-top: 5px;
}

.con{
	
	text-align: left;
	position: absolute;
	margin-left: 30%;
}

.xiexie{
	
	 position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
}

